.so-header {
  float: left;
  margin-left: 10%;
  position: fixed;
  min-width: auto;
  border-top: 3px solid #f48024;
  top: 0;
  left: 0;
  background-color: #fafafb;
  box-sizing: border-box;
  width: 100%;
}
.-list{
  list-style: none;
  }
.-item {
  padding-left: 20px;
  display: inline;
}
.sidenav {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
  height: 100%;
  position: fixed;
  margin-top: auto;
}
.item1 {
  padding-left: 10px;
}
.create-border {
  box-sizing: border-box;
  border:  3px solid #f48024;
}
